.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.logo {
    height: 5rem;
    width: 10rem;
}

.navItems > ul {
    display: flex;
}

.navItems > ul > li {
    margin: 0.5rem;
    padding: 0.2rem;
    list-style-type: none;
    font-size: 2rem;
}